<h1>Upload #<%= @upload.id %></h1>

<% @upload.contacts.each do |contact| %>
  <% if contact.persisted? %>
    <h3><%= contact.first_name + " " + contact.last_name %></h3>
    <p>contact ok</p>
  <% else %>
    <h3><%= contact.first_name + " " + contact.last_name %></h3>
    <p><%= contact.errors.messages.first %></p>
  <% end %>
<% end %>

<hr>

<p>Persisted contacts: <%= @upload.contacts.where('id is not null').size %></p>
