<% if flash[:notice].present? %>
  <%= content_tag :p, flash[:notice] %>

  <h2>Persisted contacts (<%= @uploads.last.contacts.size %>)</h2>
  <% @uploads.last.contacts.each do |contact| %>
    <p><%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %></p>
  <% end %>
  
  <hr>
<% end %>

<h1>Uploads</h1>

<% @uploads.each do |upload| %>
  <p><%= link_to "Upload #{upload.id}", upload_path(id: upload.id) %></p>
<% end %>

<hr>
<p><%= link_to "New upload", new_upload_path %></p>
