<h1>Upload #<%= @upload.id %></h1>

<h2>Persisted contacts (<%= @upload.contacts.size %>)</h2>

<%= @upload.contacts.each do |contact| %>
  <p><%= contact.first_name.capitalize + " " + contact.last_name.capitalize %></p>
<% end %>
